@import url("https://fonts.googleapis.com/css?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vmin;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03071e;
  font-family: "Crete Round", serif;
}

.App {
  width: 700px;
  height: 70vh;
  background: #03071e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: -2px -2px 10px 0 #222, 10px 10px 10px 0 #000;
}

.add-form {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-form label {
  font-size: 1rem;
  padding-right: 0.5rem;
}

.add-form input[type="text"] {
  padding: 0.5rem 0.25rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.add-form button {
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  outline: none;
  background: #03071e;
  color: #fff;
  border-radius: 10px;
  box-shadow: -1px -1px 2px 0 #222, 1px 1px 2px 0 #000;
  transition: all 0.5s ease;
}

.btn {
  font-family: "Crete Round", serif;
}

.add-form button:hover {
  box-shadow: -3px -3px 5px 0 #222, 3px 3px 5px 0 #000;
}

.add-form button:active {
  box-shadow: inset -1px -1px 2px 0 #222, inset 1px 1px 2px 0 #000;
  color: #444;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  color: #fff;
}

.task {
  width: 100%;
  height: 50px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0.5rem 0;
  box-shadow: -1px -1px 2px 0 #222, 2px 2px 4px 0 #000;
  transition: all 500ms;
}

.task > p {
  font-family: "EB Garamond", serif;
}

.delete {
  cursor: pointer;
  color: #f00;
}

.task:hover {
  box-shadow: -2px -2px 5px 0 #222, 5px 5px 7px 0 #000;
  border: none;
  transform: scale(1.01);
}

.task-clicked {
  box-shadow: inset -5px -5px 10px 0 #222, inset 5px 5px 10px 0 #000;
  color: #444;
}

.empty {
  display: none;
}

span.edit {
  margin-left: auto;
  margin-right: 20px;
  color: #ffcf00;
  cursor: pointer;
}

.wait {
  color: #ee6123;
  margin-left: 10px;
}

.task > .edit-container > input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.restore-todo {
  margin-left: 10px;
  color: #ee6123;
  cursor: pointer;
}

.paragraph-container {
  display: flex;
}

.link, .link-left {
  position: fixed;
  top: 30px;
  right: 30px;
}

.link a, .link-left a {
  color: #fff;
  text-decoration: none;
}

.login-form {
  width: 60%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  color: #fff;
  margin-bottom: 0.7rem;
}

.form-group > input {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  background: transparent;
}

.login-form > button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 0.75rem 2rem;
    cursor: pointer;
}

.login-form > button:hover {
    color: #03071e;
    background: #fff;
}

.link-left {
    left: 30px !important;
}